/* This file is part of the http://github.com/uva-cs/pdr
 * repo, and has the same license as the rest of the repo (CC BY-SA)
 *
 * The formatting is loosely based on that of github.com's README.md
 * file CSS formatting
 */

body {
    font: 15px/1.4 Helvetica,arial,freesans,clean,sans-serif;
    background-color: #000;
    color:#eee;
}
a {
    text-decoration: none;
    color:#e51;
}
h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #555;
}
h2 {
    font-size: 2em;
    border-bottom: 1px solid #555;
}
code {
    background-color: #333;
    border: 1px solid #333;
    font-size: 13px;
    padding: 0px 5px;
	/* prevent wide code overflowing the page */
    white-space:pre-wrap;
}
pre {
    background-color: #333;
    border: 1px solid #333;
    padding: 6px 10px;
    /* Make the pre box scrollable rather than scrolling the whole page */
    overflow: auto;
}
pre code {
    border: none;
    padding: 0;
}
img {
    /* Prevent image from scrolling off the page on mobile */
    max-width: 100%;
    background-color:#fff;
}

/* table formatting */
table {
    border-collapse: collapse;
    border-spacing: 0px;
    word-break: keep-all;
}
table tr {
    background-color: #111;
    border-top: 1px solid #555;
}
table th {
    padding: 6px 13px;
    border: 1px solid #555;
    background-color: #555;
}
table td {
    padding: 6px 13px;
    border: 1px solid #555;
}
table tr:nth-child(2n){
    background-color: #333;
}

/* tutorial containers */
div#container {
    color:#000;
}
div#container table th {
    background-color:#bbb;
}
div#container table tr {
    background-color:#fff;
}
div#container table tr:nth-child(2n) {
    background-color:#ddd;
}
